body {}
ul {
  list-style: inline;
}
.btn-block {
  margin: 0 2.5% 5px 2.5%;
}
.jumbotron {
  border-radius: 0;
}
.list-inline > li {
  padding-right: 0;
}
.nav-buttons {
  margin: 10px 0 5px 0;
}
.next {
  float: right;
  padding-right: 0;
}
.no-left-margin {
  margin: 0 0 10px 0;
}
.sign-in-group {
  bottom: 2.5px;
  position: absolute;
  text-align: center;
  width: 95%;
}
.sign-in-group-scroll {
  bottom: 2.5px;
  margin-top: 50px;
  text-align: center;
  width: 95%;
}
.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 50px;
}

/*DEMO 2----------------------------------------------------------------------*/

.cancel {
  float: right;
}
.create {
  float: left;
}
.fa-times {
  color: black;
}
.icon {
  width: 30px;
  height: 30px;
}
.name {
  font-size: 30px;
  text-align: center;
}
.navbar-clear {
  background-color: transparent;
  border-color: transparent;
}
.profile {
  height: 100px;
  width: 100px;
}
.submit-group {
  bottom: 2.5px;
  margin: 0 0 5px 10px;
  position: absolute;
  width: 95%;
}

/*DEMO 3&4----------------------------------------------------------------------*/

h1 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.buffer {
  margin-top: 120px;
}
.mid-buffer {
  margin-top: 70px;
}
.form-group {
  margin-top: 10px;
}
.large {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.small-buffer {
  margin-top: 10px;
}
.corner-button {
  bottom: 2.5px;
  float: right;
  margin: 0 0 5px 0;
  position: sticky;
}
.corner-button-abs {
  bottom: 2.5px;
  right: 2.5px;
  position: absolute;
}
.right {
  float: right;
}
.btn-small-circle {
  height: 30px;
  margin: 5px 0 0 5px;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 30px;
  width: 30px;
}
.no-margins {
  margin: 0;
}
.avatar-circle {
  position: relative;
  float: none;
  margin: 0;
  top: -16px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.avatar-name {
  position: relative;
  float: none;
  margin: 0;
  top: -16px;
}
