body {
 padding-top: 50px;
}

footer {
  background-color: #efefef;
  bottom: 0;
  margin-top: 50px;
  padding-top: 12px;

}

hr {
    border-top: 1px !important;
    margin-bottom:5px !important;
    margin-top:5px !important;
}

iframe {
  border: 1px solid #DDD;
  display: block;
  height: 85%;
  outline: medium none;
  overflow: hidden;
  margin: 12% 5.0% 0 5.0%;
  width: 90%;
}

ul {
  list-style: none;
}

.demo {
  height: 664px;
  width: 356px;
  background-image: url("../img/phone.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}

.list-inline {
  margin-top: 50px;
}

.next {
  float: right;
  margin-right: 0;
}

.page-wrap {
  margin: 5% 0 0 0;
}
